<!DOCTYPE html>
<html>
    <head>
        <title>Contact chat</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>